@model TravelAgency.Models.MealType

@{
    ViewData["Title"] = "Удаление";
}


<h3>Вы уверены что хотите удалить запись?</h3>
<div>
    <h4>Тип питания</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>
    
    <form class="form-group btn-group" asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a class="btn btn-sm btn-outline-info" asp-action="Index">Вернуться к списку</a>
    </form>
</div>
