@{
    ViewData["Title"] = "О нас";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="col-5">
    <h6>КОРОТКО О НАС</h6>
        <p>
        Cамые свежие и самые выгодные варианты отдыха в России с вылетами из Оренбурга.
        Мы можем гарантировать максимальный в Оренбурге выбор туров, так как наше туристическое агенство
        "РОДИНА" сотрудничает более чем с 170 туроператорами России.
        </p>
        <p>
        Мы перенимаем опыт лучших наших коллег со всей страны и находим самые дешевые предложения отдыха. 
        При этом у нас есть огромный выбор лучших 5-звездочных отелей с идеальным сервисом по системе "всё включено".
        </p>
    </div>
</section>