@{
    ViewData["Title"] = "Контакты";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="col-5">
        <h6>КОНТАКТЫ</h6>
        <p>
            Оренбург, пр-д Карагандинский, 117/4<br />
            <b>тел. 33-55-66, 11-00-99</b>
        </p>
        <p>
            Режим работы:<br />
            ПН-ПТ: 10:00 — 19:00<br />
            СБ: 11:00 — 16:00
        </p>
    </div>
</section>
