@{
    ViewData["Title"] = "Услуги";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="col-5">
        <h6>УСЛУГИ</h6>
        <ul>
            <li>
                мы предлагаем туры от более, чем 170 туроператоров России, 
                гарантируя нашим клиентам самый широкий выбор направлений, 
                отелей и самые выгодные предложения
            </li>
            <li>
                максимально упрощаем поиск тура для наших клиентов, стараясь 
                полностью перенести этот процесс в Интернет и социальные сети
            </li>
            <li>
                не просто продаем путевки, а помогаем вам выбрать из десятков
                направлений именно то, которое идеально подойдет вам по стоимости, 
                продолжительности и городу вылета
            </li>
            <li>
                предлагаем очень выгодную систему поощрения постоянных клиентов, 
                актуальные акции и скидки можно найти в главном меню сайта
            </li>
        </ul>
    </div>
</section>

